@tailwind base;
@tailwind components;
@tailwind utilities;

.primary-text {
    color: #f39202;
}

.secondary-text {
    color: #07326a;
}

.secondary-bg {
    background-color: #04a8c6;
}

.primary-bg {
    background-color: #f39202;
}
.primary-btn{
    border: 2px solid #f39202;
    border-radius: 6px;
    background-color: white;
    color: #f39202;
    padding: 6px 18px ;
}
.primary-btn:hover{
    background-color: #f39202;
    color: white;
    transition: 0.3s ease-out;
}